version: "3.9"

services:
  db:
    image: postgres:16
    container_name: pdfcollab_db
    restart: always
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: pdfcollab
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
